.searchBarShadow, .userProfile{
   border: none;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
   transition: 0.8s;
}
.searchBarShadow:hover{
   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px !important;
}

.userProfile:hover{
   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px !important;
}
.hotelsAllData{
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
   border-radius: 10px;
}
.headerShadow{
   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px !important;
   margin-bottom: 50px !important;
}